<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Monitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="EntityContext"
         connectionString="metadata=res://*/EntityModels.FormModel.csdl|res://*/EntityModels.FormModel.ssdl|res://*/EntityModels.FormModel.msl;provider=FirebirdSql.Data.FirebirdClient;provider connection string=&quot;character set=UTF8;password=masterkey;userid=SYSDBA;port=3050;pooling=True;packetsize=8192;charset=UTF8;connectionlifetime=15;datasource=192.168.1.1;dialect=3;database=G:\\WORK\\Mash\\new_form\\base\\FORM2015-1.GDB;maxpoolsize=50;minpoolsize=0&quot;"
         providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <Monitor.Properties.Settings>
      <setting name="GridFont" serializeAs="String">
        <value>26</value>
      </setting>
      <setting name="GridFontMin" serializeAs="String">
        <value>16</value>
      </setting>
      <setting name="GridFontMax" serializeAs="String">
        <value>56</value>
      </setting>
    </Monitor.Properties.Settings>
  </userSettings>
</configuration>